.meus-favs {
  margin-top: 24px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meus-favs h1 {
  font-family: "Light";
  font-size: 40px;
  margin-bottom: 14px;
}
.meus-favs span {
  font-family: "Light";
  font-size: 30px;
}
.meus-favs ul {
  width: 720px;
}
.meus-favs ul li {
  
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 14px;
}
.meus-favs div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.meus-favs div a {
  font-family: "Light";
  text-decoration: none;
  color: #116feb;
  font-size: 30px;
  margin-right: 14px;
  padding: 10px;
  border-radius: 8px;
}
.button-exclude {
  cursor: pointer;
  border: 0;
  background: transparent;
 
}
.meus-favs img {
  width: 50px;
  transition: all 0.8s;
}
.meus-favs img:hover {
  width: 60px;
}
.meus-favs div a:hover {
  color: #0c4896;
}
@media (max-width: 600px){
  .meus-favs ul li {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-bottom: 14px;
  }
  .meus-favs span{
    font-size: 16px;
  }
  .meus-favs div a{
    font-size: 16px;
  }
  .meus-favs img{
    width: 30px;
  }
  
}
